{:paths ["src" "resources"]

 :deps {com.rpl/rama {:mvn/version "1.2.0"}}

 :mvn/repos {"releases" {:url "https://nexus.redplanetlabs.com/repository/maven-public-releases"}}

 :aliases
 {:dev {:extra-paths ["src/test/resources"]}}}